.card-wrapper {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #f0f0f0;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  .card-wrapper.attending{
    border: solid 5px rgb(63, 137, 63)
  }
  .card-wrapper:hover{
    cursor: pointer;
}

  .card-wrapper img {
    height: 150px; 
    object-fit: cover;
  }

  .card-wrapper h5 {
    font-weight: bolder;
    flex-grow: 1;
    font-size: 1em;
    margin: 10px;
    margin-bottom: 3px;
    text-overflow: ellipsis;
  }
  
  .card-wrapper h6,
  .card-wrapper button {
    margin: 10px;
    flex-shrink: 0;
  }

  .card-wrapper h6{
    font-size: 12px;
  }
  .card-wrapper button {
    margin: 0; 
    flex-shrink: 0;
  }

  .card-footer{
    color: white;
    text-align: center;
    margin: 0;
    margin-bottom: 0%;
    width: 100%;
    min-height: 30px;
    background-color: rgb(22, 22, 22);
    line-height: normal;
    outline: none;
  }

  /* Popup content inside the card */
.popup-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 1rem;
  color: #374151; /* medium gray */
}

.popup-content .field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #e5e7eb; /* light gray */
}

.popup-content .field:last-child {
  border-bottom: none;
}

.popup-content .label {
  font-weight: 500;
  color: #111827; /* dark gray */
}

.popup-content .value {
  color: #6b7280; /* gray-500 */
}

.attendeesContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px
}
.attendeesContainer.label{
  margin-right: 2%;
}

.attendeeItem {
  width: 15%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px 12px;
  margin: 6px 0;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  background-color: #f9f9f9;
  transition: background-color 0.2s ease;
  margin-left: 1%;
  text-align: center;
}

.attendeeItem:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
.login-link-alert {
  display: inline-block;
  color: black;
  font-weight: bold;
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.2s ease;
  text-decoration: underline;
  font-size: 14px;
}

.login-link-alert:hover {
  transform: scale(1.05);
}



@media (max-width: 721px) {
  .card-wrapper {
    height: 260px;
    width: 260px;
  }
  .card-wrapper img {
    height: 125px; 
  }
}
