.chat-window {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 700px;
    background-color: #fefefe;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-top: 85px;
  }
  .chat-page-avatar{
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;   
  }
  .messages-container {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 75px;
  }
  .message-wrapper {
    display: flex;
    align-items: flex-end;
    margin: 5px 0;
  }
  
  /* Left-side messages */
  .received-wrapper {
    justify-content: flex-start;
  }
  
  .received-wrapper .message-bubble {
    background-color: #f1f0f0;
    margin-left: 5px;
  }
  
  /* Right-side messages */
  .sent-wrapper {
    justify-content: flex-end;
  }
  
  .sent-wrapper .message-bubble {
    background-color: darkgray;
    color: white;
    margin-right: 5px;
  }
  
  /* Bubble styling */
  .message-bubble {
    border-radius: 15px;
    padding: 8px 12px;
    max-width: 60%;
  }
  
  /* Avatar spacing */
  .message-wrapper .avatar {
    margin: 0 5px;
  }
  
  
  .message-text {
    word-wrap: break-word;
  }
  
  .message-meta {
    font-size: 10px;
    color: black;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
  }
  
  .sender-name {
    font-weight: bold;
  }
  
  .timestamp {
    margin-left: 8px;
  }
  
  .chat-input {
    display: flex;
    border-top: 1px solid #ddd;
  }
  
  .chat-input input {
    flex: 1;
    border: none;
    padding: 12px;
    font-size: 14px;
    border-radius: 0 0 0 8px;
    outline: none;
  }
  
  .chat-input button {
    padding: 12px 18px;
    border: none;
    background-color: #4a90e2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 0 8px 0;
  }
  .message-preview-container{
    display: flex;
  }
  .chat-input button:hover {
    background-color: #357ABD;
  }
  .message-profile-pic{
    border-radius: 50%;
    width: 65px;
    height: 65px;
    margin-right: 10px;
  }
  .message-data{
    margin-top: 5px;
    margin-left: 20px;
  }

  

  