.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: #202020;
    color: white;
    position: fixed;
    height: 75px;
    width: 100%;
    z-index: 1100;
    top: 0;
  }
  
  .nav-bar .logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  .nav-bar-profile-icon {
    width: 65px;
    height: 65px;
    border-radius: 50%;       /* makes it circular */
    border: 2px solid #000;   /* adjust thickness/color */
    object-fit: cover;        /* ensures image fills container without distortion */
    display: block;           /* removes extra spacing under img */
  }
  
  .logOutBtn, .logInBtn{
    background-color: rgb(70, 70, 114);
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 16px;
    z-index: 1000;
  }
  
  .nav-links li {
    cursor: pointer;
  }
  .logInBtn{
    list-style: none;
    cursor: pointer;
  }
  
  /* Hamburger */
  .hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  /* Mobile Styles */
  @media screen and (max-width: 720px) {
    .hamburger {
      display: block;
    }
    .logOutBtn, .logInBtn{
        text-align: right;
        align-items: right;

      }
    .nav-links {
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #202020;
      width: 100px;
      padding: 10px;
      display: none;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .nav-links li {
      padding: 10px 0;
      border-bottom: 1px solid #444;
    }
  
    .nav-links li:last-child {
      border-bottom: none;
      text-align: center;
    }
  }
  