.App{
  background-color: #ccd0d4;
}
body *:not(#map, #map *, .leaflet-container, .leaflet-container *) {
  max-width: 100%;
  box-sizing: border-box;
}
body, html, #root {
  overflow-x: hidden; /* hide horizontal scroll globally if needed */
}

* {
  box-sizing: border-box;
  max-width: 100%;
}
