.App{
  background-color: #ccd0d4;
}
body *:not(#map, #map *, .leaflet-container, .leaflet-container *) {
  max-width: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}
