.map-wrapper{
    position: relative;
}

.map-search {
    position: absolute; 
    top: 20px;
    left: 50%; 
    transform: translateX(-50%); 
    background-color: white; 
    z-index: 500; 
    padding: 10px; 
  }

  .map-search-input {
    width: 800px;
    padding: 8px;
  }


.leaflet-top{
  z-index: 500;

}
 .leaflet-bottom{
  z-index: 500;
}